DOCTYPE html>
<html>
<head>
  <title>Edit Drink</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Edit Drink</h1>
  <form action="/drinks/update/<%= drink._id %>" method="POST">
    <input type="text" name="name" placeholder="Drink Name" value="<%= drink.name %>" required>
    <textarea name="description" placeholder="Description" required><%= drink.description %></textarea>
    <input type="number" name="price" placeholder="Price" value="<%= drink.price %>" required>
    <button type="submit">Update Drink</button>
  </form>
  <a href="/admin">Back to Admin Dashboard</a>
</body>
</html>



